<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body>

    <!-- Include Navbar -->
    <%- include('partials/navbar', { page: "" }) %>

    <!--Hero Section -->
    <div class="hero bg-red-100 text-center p-10 rounded-lg shadow-lg mx-auto mt-10 max-w-lg">
        <h1 class="text-5xl font-bold text-red-600">404</h1>
        <p class="text-lg mt-4"><%= message || "Oops! there was some database error" %></p>
        <a href="/" class="btn btn-primary mt-10">Go to Homepage</a>
    </div>

</body>
</html>
